
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts  {
   
    <script src="~/Ajax/Students.js"></script>


    
}
 <div class="row wrapper">
     <div class="col-sm-6">
         <div class="input-group">
             <input type="text" id="searchtxt" name="searchtxt" class="input-sm form-control" placeholder="Tên">
             <span class="input-group-btn" >
                 <button style="height: 40px;     background-color: blue;" class="btn btn-sm btn-warning" type="button" id="search">
                     Tìm kiếm
                 </button>
                     <button style="height: 40px;     background-color: blue;" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Thêm mới
                   </button>
             </span>
             <span id="statusloading" style="position:absolute"></span>
         </div>
     </div>
 </div>
<table class="table table-striped">
    <tr>
        <th>
         MÃ HV
        </th>
       
        <th>
         HỌ TÊN
        </th>
        <th>
          EMAIL
        </th>
        <th>
           QUẢN LÝ
        </th>
        
        <th>
            CHỨC NĂNG
        </th>
    </tr>
    <tbody id="databody" data-url="@Url.Action("loaddata", "Students")">
       
    
        
    </tbody>


</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-right: 200px;margin-right: 500px;height: 100%;">
        <div class="modal-content" style="height:70%;width: 600px;">
            <div class="modal-header">
                <h5 class="modal-title style" id="exampleModalLabel">Thêm học sinh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
        

                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label size">Họ tên</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="Name" type="email" value="" id="Name" >
                    </div>
                </div>
            
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label size">Số điện thoại</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="Phone" type="email" value="0" id="Phone">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-lg-3 col-form-label form-control-label size">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="Email" type="email" value="" id="Email" >
                    </div>
                </div>
                    <div class="form-group row mt-2">
        <label class="col-lg-3 col-form-label form-control-label size">code</label>
        <div class="col-lg-9">
            <input class="form-control" type="email" name="Code" value="" id="Code" >
        </div>
    </div>
                <button type="button" class="btn btn-success" id="datacreate" onclick="create()"  data-url="@Url.Action("savechange", "Students")">
                    Thêm khóa học
                 </button>
            </div>

        </div>
    </div>
</div>