@model IEnumerable<SuperbrainManagement.Models.Student>

@{
    ViewBag.Title = "AddRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-striped">
    <tr>
        <th>ĐĂNG KÝ KHÓA HỌC</th>
    </tr>
    <tr></tr>
</table>